CREATE TABLE WoodInOrders(
	Id INT PRIMARY KEY IDENTITY(1,1),
	Orden VARCHAR(255),
	Table96 INT,
	Bar144 INT,
	Bar120 INT,
	Bar96 INT,
	Crates INT,
	Pallet48x48 INT,
	Pallet40x48 INT,
	Pallet32X32 INT,
	Pallet34X56 INT,
	RegistrationDate VARCHAR(255),
	AssignmentDate VARCHAR(255),
);